<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="zooduck">
        <title>json-translations-editor by zooduck</title>
    </head>
    <body>

        <!-- loading screen -->
        <div class="loading-screen" id="loadingScreen">
            <div class="import-prompt" id="importPrompt"></div>

            <div class="file-container basic">
                <div class="paper">
                    <h4 id="paperTitle"></h4>
                    <pre id="paperContent"></pre>
                </div>
            </div>
        </div>

     <!--    <alert id="alertBar"><h2></h2></alert> -->

        
        <!-- alert screen -->
        <div class="alert-screen" id="alertScreen">
            <div class="alert-box" id="alertBox">
                
                <div class="alert-msg"></div>
                <button type="button" class="alert-confirm-ctrl">OK</button>

            </div>
        </div>



        <!-- super container -->
        <div class="super-container">

             <div class="header">
               <h1><i class="ion-logo-nodejs"></i></h1>
               <h1>ON</h1>
               <h1>Translations Editor</h1>
            </div>

            <!-- ctrls -->
             <div class="ctrls container-flex break">
                <!-- upload file -->
                <input id="file" type="file" hidden>
                <label for="file">
                    <i class="ion-md-add"></i>
                </label>
                <!-- download file -->
                <a id="exportTranslations" download="" href="">
                    <i class="ion-md-cloud-download"></i>
                </a>
                <!-- save progress -->
                <a id="saveProgress" download="" href="">
                    <i class="fa fa-save"></i>
                </a>    
                            
                <!-- file data -->
                <div id="fileName"></div>

                <!-- search table -->
                <input id="searchTable" type="text" placeholder="Search...">
                <!-- pagination -->
                <div class="pagination-ctrls" id="paginationCtrls">
                    <i class="ion-md-arrow-back"></i>
                    <span class="pagination-info"></span>
                    <i class="ion-md-arrow-forward"></i>
                </div>
            </div>


            <!-- translations table -->
            <div id="translationsTable">
                 <div class="container-flex break table-headers">
                    <div class="th">KEY</div>
                    <div class="th">EN</div>
                    <div class="th">TRANSLATION</div>
                </div>
                <div class="table-rows"></div>
            </div>

            <!-- templates -->
            <div id="translationsTableRow_TEMPLATE" class="container-flex tr shutter-in template">
                <div class="td pop-in key">CORE.ALERTS.GENERIC_ERROR</div>
                <div class="td pop-in en">We are sorry but there seems to be a problem.</div>
                <div class="td pop-in trans">
                     <textarea rows="1" placeholder="..."></textarea>    
                </div>
            </div>
























<!-- 
            <div class="row" style="display: none">
                <div class="col ctrls">
                    <input id="file" type="file" hidden>
                    <label for="file"><i class="ion-md-add"></i></label>
                    <a id="download" download="translations.json" href="../img/example.jpg"><i class="ion-md-cloud-download"></i></a>                  
                </div>
            </div>





            <div class="row" style="display: none">
                <div class="col-xs-12">
                    <table id="translationsTable">
                        <tr>
                            <th>KEY</th>
                            <th>EN</th>
                            <th>TRANSLATION</th>
                        </tr>

                        <tr class="shutter-in">
                            <td>CORE.ALERTS.GENERIC_ERROR</td>
                            <td>We are sorry but something went wrong.</td>
                            <td>
                                <textarea rows="1" onfocus="this.parentNode.parentNode.classList.add('edit-in-progress')" onblur="this.parentNode.parentNode.classList.remove('edit-in-progress')"></textarea>
                            </td>
                        </tr>
                         <tr>
                            <td>CORE.ALERTS.GENERIC_ERROR</td>
                            <td>We are sorry but something went wrong.</td>
                            <td>
                                <textarea rows="1" onfocus="this.parentNode.parentNode.classList.add('edit-in-progress')" onblur="this.parentNode.parentNode.classList.remove('edit-in-progress')"></textarea>
                            </td>
                        </tr>
                         <tr>
                            <td>CORE.ALERTS.GENERIC_ERROR</td>
                            <td>We are sorry but something went wrong.</td>
                            <td>
                                 <textarea rows="1" onfocus="this.parentNode.parentNode.classList.add('edit-in-progress')" onblur="this.parentNode.parentNode.classList.remove('edit-in-progress')"></textarea>
                            </td>
                        </tr>
                         <tr>
                            <td>CORE.ALERTS.GENERIC_ERROR</td>
                            <td>We are sorry but something went wrong.</td>
                            <td>
                                <textarea rows="1" onfocus="this.parentNode.parentNode.classList.add('edit-in-progress')" onblur="this.parentNode.parentNode.classList.remove('edit-in-progress')"></textarea>
                            </td>
                        </tr>
                         <tr>
                            <td>CORE.ALERTS.GENERIC_ERROR</td>
                            <td>We are sorry but something went wrong.</td>
                            <td>
                                 <textarea rows="1" onfocus="this.parentNode.parentNode.classList.add('edit-in-progress')" onblur="this.parentNode.parentNode.classList.remove('edit-in-progress')"></textarea>
                            </td>
                        </tr>
                    </table>
                </div>
            </div> -->






        </div> <!-- .super-container -->
    </body>
</html>
