<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="zooduck">
        <title>json-translations-editor by zooduck</title>
    </head>
    <body>

        <!-- loading screen -->
        <div class="loading-screen" id="loadingScreen">
            <div class="import-prompt" id="importPrompt"></div>

            <div class="file-container basic">
                <div class="paper">
                    <h4 id="paperTitle"></h4>
                    <pre id="paperContent"></pre>
                </div>
            </div>
        </div>
        
        <!-- alert screen -->
        <div class="alert-screen" id="alertScreen">
            <div class="alert-box" id="alertBox">                
                <div class="alert-msg"></div>
                <div class="alert-ctrls">
                    <button type="button" class="alert-confirm-ctrl cancel" id="alertConfirmCtrlCancel">Cancel</button>
                    <button type="button" class="alert-confirm-ctrl" id="alertConfirmCtrlOK">OK</button>                   
                </div>
            </div>
        </div>

        <!-- super container -->
        <div class="super-container">

             <div class="header">
               <h1><i class="ion-logo-nodejs"></i></h1>
               <h1>ON</h1>
               <h1>Translations Editor</h1>
            </div>

            <!-- ctrls -->
             <div class="ctrls container-flex break">
                <!-- upload file -->
                <input id="file" type="file" hidden>
                <label for="file" title="Import translations">
                    <i class="ion-md-add"></i>
                </label>
                <!-- download JSON translations for developers -->
                <a id="devTranslationsCtrl" download="" href="#" title="Download translations">
                    <i class="ion-md-cloud-download"></i>
                </a>
                <!-- save progress -->
                <a id="exportTranslationsCtrl" download="" href="#" title="Save Progress (export to file)">
                    <i class="fa fa-save"></i>
                </a>    
                            
                <!-- file data -->
                <div id="fileName"></div>

                <!-- search table -->
                <input id="searchTable" type="text" placeholder="Search...">
                <!-- pagination -->
                <div class="pagination-ctrls" id="paginationCtrls">
                    <i class="ion-md-arrow-back disabled"></i>
                    <span class="pagination-info">page 0 of 0</span>
                    <i class="ion-md-arrow-forward disabled"></i>
                </div>
            </div>

            <!-- translations table -->
            <div id="translationsTable">
                 <div class="container-flex break table-headers">
                    <div class="th">KEY</div>
                    <div class="th">
                        <span>EN</span>
                        <div class="reset-all" id="resetAllCtrl">
                            <button>RESET ALL</button>
                        </div>
                    </div>
                    <div class="th">TRANSLATION</div>
                </div>
                <div class="table-rows"></div>
            </div>

            <!-- templates -->
            <div id="translationsTableRow_TEMPLATE" class="container-flex tr shutter-in template">
                <div class="td pop-in key"></div>
                <div class="td pop-in en">
                    <span></span>
                    <div class="common-value"></div>
                    <div class="interpolation-warning"></div>
                    <div class="reset-value"><button>RESET</button></div>
                </div>
                <div class="td pop-in trans">
                     <textarea rows="1" placeholder="..." tabindex="1"></textarea>    
                </div>
            </div>
            
        </div> <!-- .super-container -->
    </body>
</html>
