@keyframes shutterIn {
	from {
		opacity: 0;
		transform: rotateX(90deg) translate(-100%);
		// transform: translate(-100%);
	}
	to {
		opacity: 1;
		transform: rotateX(0deg) translate(0);
		// transform: translate(0);
	}
}

.shutter-in {
	animation: shutterIn .5s both;
}

@keyframes flipTextFile {
	0% {
		transform: rotateY(0deg) translate(0, 0);
		background: $monitor-black;
		color: $monitor-green;
	}
	50% {
		background: $monitor-black;
		color: $monitor-green;
		//transform: rotateY(90deg) translate(0, 0);
	}
	51% {
		transform: rotateY(90deg) translate(0, 0);
		// background: #fff;
		// color: #222;
	}
	100% {
		transform: rotateY(0deg) translate(0, 0);
		// background: #fff;
		// color: #222;
		// border: solid 1px #ccc;
	}
}

.json-parsed {
	animation: flipTextFile .5s forwards;
}

@keyframes flash {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}


@keyframes slideOn {
	from {
		transform: skew(15deg) translate(-250px);
	}
	to {
		transform: skew(0dg) translate(0);
	}
}

.slide-on {
	animation: slideOn 1s forwards;
}

@keyframes printFeed {
	from {
		transform: translateY(-400px);
	}
	to {
		transform: translateY(-220px);
	}
}

.print-feed {
	animation: printFeed .5s forwards;
}

@keyframes print { // 220 19 38 76
	0% {
		transform: translateY(-220px) rotateX(0deg);
	}
	5% {
		transform: translateY(-201px) rotateX(5deg);
	}
	// pause 5
	10% {
		transform: translateY(-201px) rotateX(5deg);
	}
	15% {
		transform: translateY(-182px) rotateX(5deg);
	}
	// pause 5	
	20% {
		transform: translateY(-182px) rotateX(5deg);
	}
	30% {
		transform: translateY(-144px) rotateX(5deg);
	}
	// pause 10
	40% {
		transform: translateY(-144px) rotateX(5deg);
	}
	50% {
		transform: translateY(-106px) rotateX(5deg);
	}
	// pause 10
	60% {
		transform: translateY(-106px) rotateX(5deg);
	}
	// 80% {
	// 	transform: translateY(-30px) rotateX(5deg);
	// }
	100% {
		transform: translateY(-30px) rotateX(0deg);
	}
}

.print {
	animation: print 2s linear forwards;
	// animation-delay: 1s;
}

@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	51% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes push {
	0% {
		transform: scale(1) translateY(-220px) rotateX(0deg);
	}
	70% {
		transform: scale(1) translateY(-180px) rotateX(0deg);
	}
	100% {
		transform: scale(1) translateY(-220px) rotateX(0deg);
	}
}

.push {
	animation: push .5s;
	transform-origin: top;
}
