@keyframes shutterIn {
	from {
		opacity: 1;
		transform: rotateX(90deg) translate(-100%);
		// transform: translate(-100%);
	}
	to {
		opacity: 1;
		transform: rotateX(0deg) translate(0);
		// transform: translate(0);
	}
}

.shutter-in {
	animation: shutterIn .5s both;
}

@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	51% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes pop {
	0% {
		opacity: 0;
		transform: scale(0.5);
	}
	70% {
		opacity: 1;
		transform: scale(1.2);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

.pop {
	animation: pop .5s;
}