@import "../../node_modules/font-awesome/scss/font-awesome";
@import "../../node_modules/ionicons/dist/scss/ionicons";


[class*="ion"], [class*="fa-"] {
	font-size: 2em;
	color: $icon-base;

	&:hover {
		&:before, &:after {
			color: lighten($icon-base, 25%);	
		}
			
	}
}
