@import "../../node_modules/font-awesome/scss/font-awesome";
@import "../../node_modules/ionicons/dist/scss/ionicons";


[class*="ion"], [class*="fa"], .icon:before, .icon:after {
	font-size: 2em;
	color: $icon-base;

	&:hover {
		color: lighten($icon-base, 25%);
	}
}
