body {
	background-color: $background-color-base;
	font: $font-weight-base $font-size-base $font-family-base;
	color: $color-base;
}

.header {
	display: flex;
	align-items: center;
	margin: auto;
	padding: 10px;
	width: 100%;
	color: #555;
	background: cornflowerblue;
	background: #5e86cf;
	color: #fff;

	background: #fff;
	color: skyblue;
	color: #3692dc;
	border: solid 0 #555;
	border-bottom-width: 3px;

	width: calc(100% - 22px);

	h1 {
		display: inline-block;
		margin: 0;

		&:nth-of-type(2) {
			color: coral;
			margin-right: 5px;
		}
	}

	.ion-logo-nodejs {
		color: coral;
		margin-right: 2px;
		&:hover {
			transform: inherit;
			&:before {
				color: inherit;
				transform: inherit;
			}
		}
	}
}

.ctrls {
	display: flex;
	align-items: center;
	padding-right: 5px;

	* {
		flex-grow: 1;
	}

	i {
		padding: 10px;
		cursor: pointer;
	}
	label, a {
		flex-grow: 0;
	}
	input {
		align-self: stretch;
		padding: 5px;
		margin-left: 10px;
		margin-right: 10px;
		// margin-right: 22px;
		font-size: 1em;
		outline: 0;
		border: solid 1px #ccc;
		width: 100px;

	}
	#fileName {
		margin-left: 5px;
		max-width: 200px;
		word-wrap: break-word;
	}
	.pagination-ctrls {
		display: flex;
		flex-grow: 0;
		align-items: center;
		text-align: center;
		pointer-events: none;

		&.active {
			pointer-events: all;
		}
	}
}

button {
	padding: 5px 10px;
	border: none;
	outline: none;
	cursor: pointer;
	background: cornflowerblue;
	color: #fff;
	font-size: 1.5em;
	user-select: none;

	&:hover {
		background: lighten(cornflowerblue, 10%);
	}

	&:active {
		outline: none;
		border: none;
		transform: scale(.95);
	}
}

.loading-screen, .alert-screen {
	position: fixed;
	left: -100%;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 911;
	background: rgba(0, 0, 0, 0.10);
	overflow: hidden;
	transition: all .5s;

	&.active {
		visibility: visible;
		left: 0;
	}
}

.alert-screen {
	transition: none;
}

.alert-box {
	display: flex;
	justify-content: space-between;
	flex-direction: column;

	width: 350px;
	min-height: 150px;
	background: #ccc;
	color: #222;
	padding: 10px;
	background: #fff;

	i {
		font-style: normal;
		margin-right: 5px;

		&:before {
			margin-right: 10px;
		}
	}


	&.error {
		background: tomato;
		color: #fff;

		i {
			color: #fff;

			&:hover {
				&:before {
					color: #fff;
				}
			}
		}

		button.alert-confirm-ctrl {
			background: #fff;
			color: tomato;
		}
	}

	.alert-msg {
		align-self: flex-start;
		font-size: 1.3em;
	}

	.alert-ctrls {
		display: flex;
		justify-content: space-between;

		.alert-confirm-ctrl {
			&.cancel {
				border: solid 2px cornflowerblue;
				background: #fff;
				color: cornflowerblue;
			}
			&.hidden {
				visibility: hidden;
			}
		}
	}
}

.import-prompt {
	width: 270px;
	padding: 10px;
	background-color: #fff;

	&:after {
		font-family: Ionicons;
		content: "\f368";
		animation: blink 1s infinite;
		position: relative;
		top: 5px;
		left: 0px;
		color: #222;
	}
}

.file-container {

	&:not(.basic) {
		position: relative;
		z-index: 1;
		max-width: 270px;
		min-width: 270px;
		height: 50px;
		align-self: stretch;
		margin-right: 5px;

		position: fixed;
		right: 0;
		bottom: 50px;
		height: 380px;
		z-index: 3;

		opacity: 0;
		pointer-events: none;
	}

	&.basic {
		position: relative;
		background: #fff;
		width: 270px;
		height: 380px;
	}

	.paper {
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		padding: 10px;
		color: #555;
		background: #fff;
		transition: opacity .2s;

		h4 {
			border-bottom: solid 2px $color-base;
			padding-bottom: 2px;
			margin-top: 5px;
			margin-bottom: 10px;
			color: $color-base;
			word-wrap: break-word;
		}

		pre {
			height: 320px;
			overflow: hidden;
			font-size: 10px;
			white-space: pre-wrap;
			word-wrap: break-word;
		}
	}
}

$delays: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10;
@mixin compoundedDelays () {
	$delay-amount: 100;
  	@each $delay in $delays {
    	&:nth-of-type(#{$delay}) {
      	animation-delay: #{$delay * $delay-amount}ms;
    }
  }
}

#translationsTable {
	position: relative;
	z-index: 2;
	background: #fff;
	padding-right: 5px;

	.table-headers {
		margin-right: 22px;
		padding-bottom: 10px;

		.th {
			flex-grow: 1;
			text-align: center;
			padding: 5px;
			background: #eee;
			color: #555;
			width: 100px;

			&:nth-of-type(1) {
			}

			&:nth-of-type(2) {
				margin-left: 5px;
				margin-right: 5px;
			}

			&:nth-of-type(3) {
				border-right-width: 0;
			}

			.reset-all {
				float: right;
				font-size: .5em;
				button {
					background: transparent;
					color: darken(cornflowerblue, 20%);
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}

	}

	.table-rows {
		padding-right: 5px;
		overflow-y: scroll;

		.tr {
			margin-top: 10px;
			transform-origin: top;
			color: #fff;
			border: solid 0 #555;
			min-height: 80px;

			&.hidden {
				display: none;
			}
			.interpolation {
				color: tomato;
			}
			.common-value {
				display: none;
				background: lavender;
				padding: 5px;
				margin-top: 5px;
				&.active {
					display: block;
				}
			}

			@include compoundedDelays();
		}


		.td {
			position: relative;
			flex-grow: 1;
			width: 100px;
			text-align: left;
			padding: 5px;
			overflow: hidden;
			word-wrap: break-word;

			textarea {
				width: 100%;
				height: 100%;
				border: none;
				outline: none;
				padding: 5px;
				font-size: 1em;
				resize: none;
				background: transparent;
				color: #222;
				border: solid 1px transparent;

				&.interpolation-changed {
					border-color: tomato;
					color: indianred;
				}

				&:not(.interpolation-changed):focus {
					border-color: #222;
				}

				// @include placeholder((color #222));
			}

			.interpolation-warning {
				display: none;
				margin-top: 5px;
				background: tomato;
				color: #fff;
				padding: 5px;
				align-items: center;
				text-decoration: none;

				&.active {
					display: flex;
				}

				&:before {
					font-family: Ionicons;
					content: "\f3a5";
					font-size: 2em;
					margin-right: 10px;
				}
			}

			.reset-value {
				display: flex;
				justify-content: flex-end;
				margin-top: 5px;
				padding: 5px;
				button {
					font-size: 14px;
				}
			}

			&:nth-of-type(1) {
				background: cornsilk;
				color: peru;
				padding: 15px;
			}

			&:nth-of-type(2) {
				background: #fff;
				color: #555;
				padding: 15px;
				border: solid 1px #ccc;
				margin-left: 5px;
				margin-right: 5px;
			}

			&:nth-of-type(3) {
				border-right-width: 0;
				border: solid 1px #ccc;
			}

			.line-through {
				text-decoration: line-through;
				color: indianred;
			}
		}
	}
}

.container-flex {
	display: flex;

	&.column-reverse {
		flex-direction: column-reverse;
	}

	&.justify-content-space-center {
		justify-content: center;
	}

	&.break {
		margin-top: 20px;
	}
}

.template {
	display: none !important;
}

#alertBar {
	position: fixed;
	top: -100px;
	left: 0;
	background: #000;
	color: #222;
	width: 100%;
	padding: 0 10px;
	transition: top .5s;

	&.success {
		background: $success-background-color;
	}
	&.error {
		background: $error-background-color;
	}

	&.active {
		top: 0;
	}

	h2 {
		&:before {
			font-family: Ionicons;
			content: "\f1d4";
			margin-right: 10px;
		}
	}
}
